
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.btn {
  margin: 5px;
}

.responseMsg {
  height: 20px;
  padding: 25px;
}

.op-group {
  display: flex;
  justify-content: space-evenly;
}


